@model Mentoring.Web.Models.RemoveMentee

@{
    ViewBag.Title = "Remove Mentor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Mentee</h2>

@using (Html.BeginForm())
{
    <br />
    <p>Are you sure to remove <strong>@Model.Name</strong> as a Mentee? This action cannot be undone.</p>
    <br />

    if (!string.IsNullOrEmpty(Model.MentorName))
    {
        <p>Mentor: <strong>@Model.MentorName</strong>/strong>></p>
    }
    else
    {
        <p><i>This Mentee does not have a Mentor.</i></p>
    }
    <br />
    <div>
        <input type="submit" value="Remove Mentee" class="btn btn-danger" />
        &nbsp; &nbsp;@Html.ActionLink("Cancel", "Summary")
    </div>
}
