@{
    ViewBag.Title = "New Mentor Pre-Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mentor Pre-Approval</h2>

<h3>Thank You!</h3>

<p>You have completed the first step to become a Mentor. We will be contacting you soon.</p>

@Html.ActionLink("Back to Home", "Index", "Home")