@{
    ViewBag.Title = "My Mentor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Mentor</h2>

<br>
<p>You still don't have a Mentor assigned. If you think this is an error please contact <a href="mailto:people@company.com&subject=Mentor assignment">people@company.com</a></p>
