@using Mentoring.Core.Enums
@model Mentoring.Web.Models.ProgramStatusInfo

@{
    ViewBag.Title = "Home";
}

@{ var currentUser = (Mentoring.Web.Models.UserModel) Session["UserInfo"]; }

<div class="jumbotron">
    <h1>Mentoring Program</h1>
    <p class="lead">Mentoring is a learning process in which a person owns and takes responsibility for their personal and professional development in order to meet their goals through the support and guidance of another person, who is an expert in their area of interest and who shares knowledge as well as personal and professional experiences with them.</p>
    <p>
        @if (!currentUser.IsInRole(UserRoleCode.Mentor))
        {
            @Html.ActionLink("Be a Mentor", "NewMentor", "Mentor", null, new { @class = "btn btn-primary btn-lg" })
        }

        @if (!currentUser.IsInRole(UserRoleCode.Mentee))
        {
            @Html.ActionLink("Be a Mentee", "NewMentee", "Mentee", null, new { @class = "btn btn-primary btn-lg" })
        }
    </p>
</div>

<div class="row">
    @if (Model.ProgramRenewal && (Model.MenteePendingRenewal || Model.MentorPendingRenewal))
    {
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Necesitamos tu atención!</strong> Te pedimos por favor nos confirmes tu intención de seguir en el programa. Puedes confirmalo desde tu @Html.ActionLink("User Profile", "UserProfile")
            <br>Por favor ten en cuenta que tienes tiempo hasta el xx/xx para responder, luego de este periodo automáticamente se definirá que estas inactivo en el programa.
        </div>
    }

    <div class="col-md-4">
        <h2>Get To Know the Program</h2>
        <p>
            Objectives of the Mentoring Program, Actors, What is a Mentor?, What are the requirements?, What is a Mentee? Who is the coordinator of the process?
            To have more information about this topics and answer common program questions please click on Learn More
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Select a Mentor</h2>
        <p>What should you keep in mind when selecting your Mentor? Some tips to help you in the process</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>Stages of the program and a description of the activities carried out during the program</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>