@model Mentoring.Web.Models.LeaveProgramModel

@{
    ViewBag.Title = "Leave Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leave Program</h2>

<p>
    Are you sure you want to leave the program? this is an undoable action you will loose any Mentor/Mentee current relation. <br /><br /> But you are welcome to join again anytime.
<p />

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DropDownListFor(model => model.Value, ViewBag.UserRoles as SelectList, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
    <br/>
    <div>
        <input type="submit" value="Leave Program" class="btn btn-danger" />
        &nbsp; &nbsp;@Html.ActionLink("Cancel", "UserProfile")
    </div>
}